.project-background{
    background: #E7F0EA;
}
.step-header {
background: #e6b01aa8;
}

.sub-title{
    background: #A9AFAC;
    margin-left:10px;
}
.project-title{
    margin-left: 22px;
    color: #445069;
}